<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <h2>Tasks</h2>
            <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist.items.all %}
                    <tr>
                        {% comment %} <td>{{ item }}</td> {% endcomment %}
                        <td><a href="{% url 'todo_item_update' item.id %}">{{ item }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>